.RestaurantTable {
  width: 100%;
  border-collapse: collapse;
}

.RestaurantTable table, th, td {
  border: 1px solid black;
  padding: 5px;
  
}

.ButtonCell {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.DataRow {
  cursor: -webkit-grab;
}