.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* background-color: ; */
}

.AppContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  align-content: center;
}

.TableContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  position: -webkit-sticky;
}